/* style.css */

 body,
.recipesbody{
    background-color: rgb(150, 150, 150);
}

.recipesbody {
    border: 10px solid black;
    margin: auto;
}

img {
    height: auto;
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid black;
    
}

.text {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    
}

.mylist {
    display: inline-block;
    text-align: left;
    
}

.title {
    margin-top: 0px;
    margin-bottom: 5px;
    background-color: black;
    color: white;

}

a:hover{ 
    color: lightskyblue;
}



    
    

    

